# ==========================================
# CẤU HÌNH BỎ QUA CHO DỰ ÁN JAVA SPRING BOOT
# ==========================================

# 1. Maven (Thư mục build và file tạm)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# (Giữ lại file maven-wrapper.jar để người khác có thể chạy mvnw)
!.mvn/wrapper/maven-wrapper.jar

# 2. Cấu hình phần mềm IDE (IntelliJ, VS Code, Eclipse)
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/
.factorypath

# 3. File Log và Cache
*.log
.cache/

# 4. File hệ thống (Windows & macOS)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db